<div id="global">
  <script src="./scripts/burgerMenu.js"></script>
  <script>
    (function () {
      var mobileMenu = new BurgerMenu();
      mobileMenu.start();
    })();
  </script>
  <div id="content" class="gamesPage">
    <div id="top-wrap">
      <div id="top" class="notInApp hide-in-fs">
        <div
          id="genbu-slot"
          class="pub"
          style=""
          data-google-query-id="CMqcy_PQg_wCFUNCwgodh9EGoQ"
        >
          <div
            id="google_ads_iframe_/1015413/hellokids.com_0007_203_DFP_CONTENT_0__container__"
            style="border: 0pt none"
          >
            <iframe
              id="google_ads_iframe_/1015413/hellokids.com_0007_203_DFP_CONTENT_0"
              name="google_ads_iframe_/1015413/hellokids.com_0007_203_DFP_CONTENT_0"
              title="3rd party ad content"
              width="970"
              height="90"
              scrolling="no"
              marginwidth="0"
              marginheight="0"
              frameborder="0"
              role="region"
              aria-label="Advertisement"
              tabindex="0"
              sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
              style="border: 0px; vertical-align: bottom"
              data-load-complete="true"
              data-google-container-id="1"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <script src="./scripts/chasse.js"></script>
    <div class="contentWrap">
      <div class="content-block content-type">
        <div class="content-container">
          <h1 class="contentTitle">Snow White puzzle</h1>
        </div>
      </div>
      <div class="content-block content-type">
        <div class="content-container content-game puzzle">
          <div id="byakko-slot" class="content-slot"></div>
          <div id="seiryu-slot" class="content-slot"></div>
          <div id="hk-mac">
            <a id="closer" class="fs-close-button">
              <i class="fa fa-close tt" title="close"></i>
            </a>
          </div>
          <div id="jdsPzl" class="c_after">
            <div class="preview">
              <a
                class="play"
                rel='27335"'
                style="left: 25%; background-color: rgb(0, 154, 102)"
                >Start</a
              >
              <div class="grid">
                <hr class="h" rel="1" style="top: 33.3333%" />
                <hr class="v" rel="1" style="left: 33.3333%" />
                <hr class="h" rel="2" style="top: 66.6667%" />
                <hr class="v" rel="2" style="left: 66.6667%" />
              </div>
              <img
                src="http://images.hellokids.com/_uploads/_tiny_galerie/20120207/snow-white-puzzle_84q.jpg"
              />
            </div>
            <div class="menu">
              <strong class="titre">Choose your level</strong>
              <ul>
                <li class="anim_01s on" rel="2">
                  Very easy <span>4 pieces</span>
                </li>
                <li class="anim_01s on" rel="3">Easy <span>9 pieces</span></li>
                <li class="anim_01s timer on" rel="4">
                  Standard <span>16 pieces</span>
                </li>
                <li class="anim_01s timer on" rel="5">
                  Hard <span>25 pieces</span>
                </li>
                <li class="anim_01s timer on" rel="6">
                  Very hard <span>36 pieces</span>
                </li>
                <script src="./scripts/eventListener.js"></script>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="content-block content-type">
        <div class="content-container">
          <div class="contentType-text">
            <h2>How to play this puzzle game?</h2>
            <ol>
              <li>Choose a difficulty level on your left.</li>
              <li>
                For levels "Very easy" and "Easy", take all the time you need to
                put the puzzle pieces together, there is no time limit.
              </li>
              <li>
                For other levels, time is running out. Click on "Start", watch
                the countdown timer and achieve your online puzzle game until
                the timer reaches zero!
              </li>
              <li>
                You can press the help button ("?") to see the model to achieve
                during your game session.
              </li>
            </ol>
          </div>
        </div>
      </div>
      <script>
        // INITIALISATION DU PUZZLE
        var pzl = new jdsPuzzle();
        pzl.init();
        // INITIALISATION DU FULLSCREEN
        var dicoFermer = "close";
        //var mac = new macOpener();
      </script>
    </div>
  </div>
</div>
