#global {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 20px;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  -webkit-font-smoothing: antialiased;
}
* {
  margin: 0;
  padding: 0;
  float: none;
}
div {
  display: block;
}
#global:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1040px;
  margin: 0 auto;
  left: 0;
  right: 0;
  box-shadow: 0 0 30px rgb(0 0 0 / 30%);
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  pointer-events: none;
}
body {
  font: 1em Roboto, Verdana, sans-serif;
  color: #fff;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
}
body {
  line-height: 1;
}
.gap-closer.small {
  height: 20px;
}

.gap-closer {
  width: 1040px;
  position: relative;
  margin: 0 auto;
  background-image: url(../../../../assets/images/brushed-alum-dark.png);
  background-color: rgba(0, 0, 0, 0.05);
}
.gap-closer:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.3;
}
#content {
  position: relative;
  width: 100% !important;
}
.gamesPage #top-wrap {
  width: 100%;
  background-color: #c194ef;
}

#top-wrap {
  width: 100%;
  background-color: #ffe356;
  background-image: url(../../../../assets/images/brushed-alum-dark.png);
}
.gamesPage .contentWrap {
  background-color: #6d5d95;
}
.content-type:first-child {
  background-color: rgba(0, 0, 0, 0.05);
}

.content-block {
  width: 100%;
  display: block;
}
.content-type .content-container {
  padding: 20px;
  box-sizing: border-box;
}

.content-block .content-container {
  position: relative;
  width: 1040px;
  z-index: 1;
  margin: 0 auto;
}
.gamesPage .contentWrap .content-container .contentTitle {
  color: #503f7a;
}

.content-type .content-container .contentTitle {
  position: relative;
  padding: 10px 40px;
  text-shadow: none;
  text-transform: uppercase;
  margin-left: 40px;
  display: inline-block;
  background-color: hsla(0, 0%, 100%, 0.5);
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Boogaloo, Roboto, Verdana, sans-serif;
  font-size: 2.125em;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.content-type .content-container .contentTitle:before {
  content: "";
  position: absolute;
  background-image: url(../../../../assets/images/tape-end-left.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: -2px;
  bottom: 0;
  width: 15px;
  left: -15px;
}

.content-type .content-container .contentTitle:after {
  content: "";
  position: absolute;
  background-image: url(../../../../assets/images/tape-end-right.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: -2px;
  bottom: -1px;
  width: 15px;
  right: -15px;
}

.content-type:nth-child(2) {
  background: transparent;
}

.content-block {
  width: 100%;
  display: block;
}

.content-type .content-container.content-game {
  padding: 0;
  background-image: url(../../../../assets/images/brushed-alum-dark.png);
  background-color: hsla(0, 0%, 100%, 0.9);
}
.content-type .content-container {
  padding: 20px;
  box-sizing: border-box;
}
.content-block .content-container {
  position: relative;
  width: 1040px;
  z-index: 1;
  margin: 0 auto;
}
.puzzle {
  width: 100%;
  height: auto;
}

#byakko-slot {
  display: block;
  width: 120px;
  height: 600px;
  left: -200px;
}

#byakko-slot {
  display: none;
  position: absolute;
  top: 20px;
  left: -380px;
  text-align: right;
}

#seiryu-slot {
  display: block;
  width: 120px;
  height: 600px;
  right: -200px;
}

#seiryu-slot {
  display: none;
  position: absolute;
  top: 20px;
  right: -380px;
  text-align: left;
}

.puzzle #hk-mac {
  display: none;
}

.puzzle #closer {
  position: fixed;
  z-index: 999;
  background: #c00;
  top: 20px;
  right: 20px;
  font-size: 3.5em;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

a {
  text-decoration: none;
}
a,
button,
input,
label {
  outline: none;
  cursor: pointer;
}

.puzzle #closer i {
  position: relative;
  top: -5px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a i {
  display: none;
}

.puzzle #jdsPzl {
  position: relative;
  padding: 20px;
}
.puzzle #jdsPzl .preview {
  position: relative;
  width: 48%;
  float: right;
  background: #fff;
  border-radius: 5px;
  padding: 1%;
  text-align: center;
  color: #fff;
}

.puzzle #jdsPzl .menu {
  position: relative;
  width: 45%;
  float: left;
}

a.play {
  left: 25%;
  background-color: rgb(122, 186, 2);
  transform-origin: center center 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.puzzle #jdsPzl .preview .play {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 25%;
  width: 50%;
  z-index: 3;
  background: #7aba02;
  border-radius: 5px;
  padding: 10px 0;
  font-family: Lobster, sans-serif;
  font-size: 2em;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
  box-shadow: inset 0 20px 0 hsl(0deg 0% 100% / 30%);
}

.puzzle #jdsPzl .preview .grid {
  position: absolute;
  width: 98%;
  height: 98%;
  z-index: 2;
  overflow: hidden;
}
.puzzle #jdsPzl .grid hr.h {
  border-top: 2px solid hsla(0, 0%, 100%, 0.3);
  height: 0;
  width: 98%;
  box-shadow: 0 2px 2px rgb(0 0 0 / 50%);
}
.puzzle #jdsPzl .grid hr {
  background: none !important;
  position: absolute;
}

hr.h {
  top: 50%;
}

.puzzle #jdsPzl .grid hr.v {
  border-left: 2px solid hsla(0, 0%, 100%, 0.3);
  height: 98%;
  width: 0;
  box-shadow: 2px 0 2px rgb(0 0 0 / 50%);
}

.puzzle #jdsPzl .grid hr {
  background: none !important;
  position: absolute;
}

hr.v {
  left: 50%;
}

.puzzle #jdsPzl .preview img {
  width: 100%;
  position: relative;
  z-index: 1;
}

img {
  border: 0;
}

.puzzle #jdsPzl .titre {
  display: block;
  font-family: Lobster;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
}

strong {
  font-weight: 700;
}

li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

.puzzle #jdsPzl .menu li:first-child {
  background: #7aba02;
  width: 60%;
}

.puzzle #jdsPzl .menu li {
  position: relative;
  display: block;
  padding: 5px;
  margin: 5px auto;
  background: green;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 20px 0 hsl(0deg 0% 100% / 30%);
  cursor: pointer;
  color: #fff;
  font-family: Lobster;
}
.computer .anim_01s {
  transition: all 0.1s ease-in-out;
}
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.puzzle #jdsPzl .menu li.on:before {
  content: "";
  display: block;
  position: absolute;
  top: 15%;
  left: 0;
  border: 20px solid transparent;
  border-left: 20px solid hsla(0, 0%, 100%, 0.5);
}
.puzzle #jdsPzl .menu li span {
  display: block;
  font-size: 0.6em;
  text-shadow: none;
  color: hsla(0, 0%, 100%, 0.7);
}
.puzzle #jdsPzl .menu li:nth-child(2) {
  background: #009a66;
  width: 70%;
}
.puzzle #jdsPzl .menu li:nth-child(3) {
  background: #3566cd;
  width: 80%;
}
.puzzle #jdsPzl .menu li span {
  display: block;
  font-size: 0.6em;
  text-shadow: none;
  color: hsla(0, 0%, 100%, 0.7);
}
.puzzle #jdsPzl .menu li.timer:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  // background: url(/templates/jeux/design/timer.png);
  position: absolute;
  right: 3px;
  top: 10px;
}
.puzzle #jdsPzl .menu li:nth-child(4) {
  background: #ff6500;
  width: 90%;
}
.puzzle #jdsPzl .menu li:nth-child(5) {
  background: #cb0032;
}
.puzzle #jdsPzl:after {
  content: "";
  display: table;
  clear: both;
}
.content-type .content-container.content-game:after {
  content: "";
  display: table;
  clear: both;
}
.content-type:nth-child(3) {
  background: rgba(0, 0, 0, 0.04);
}
.content-block {
  width: 100%;
  display: block;
}
.content-type .content-container {
  padding: 20px;
  box-sizing: border-box;
}
.content-block .content-container {
  position: relative;
  width: 1040px;
  z-index: 1;
  margin: 0 auto;
}
.content-type .content-container .contentType-text {
  position: relative;
  box-sizing: border-box;
  padding: 40px;
}
.content-type .content-container .contentType-text h2:first-of-type {
  margin-top: 0;
}

.content-type .content-container .contentType-text h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.content-type .content-container .contentType-text ol {
  list-style: none;
  counter-reset: a;
  margin-bottom: 20px;
}
ol,
ul {
  list-style: none;
}
.content-type .content-container .contentType-text ol li {
  position: relative;
  margin: 10px 0 20px 30px;
  font-size: 18px;
}
.content-type .content-container .contentType-text ol li,
.content-type .content-container .contentType-text ul li {
  font-size: 18px;
}
.content-type .content-container .contentType-text ol li:before {
  content: counter(a) ".";
  counter-increment: a;
  position: absolute;
  left: -30px;
  text-align: left;
  width: 30px;
}
