<div class="contact" *ngIf="author">
  <p>
    <span>{{author}}</span>
    <span class="me">Livan Ojito Villanueva</span>
  </p>
  <p>
    <span>{{email}}</span>
    <span class="me">livanojito@gmail.com</span>
  </p>
  <p>
    <span>{{github}}</span>
    <a target="_blank" href="https://github.com/lojito">https://github.com/lojito</a>
  </p>
  <p>
    <span>{{linkedin}}</span>
    <a target="_blank" href="https://ca.linkedin.com/in/lov">https://ca.linkedin.com/in/lov</a>
  </p>
  <p>
    <span>{{availability}}</span>
    <span class="status">{{status}}</span>
  </p>
</div>