<div id="container" class="container">
  <canvas
    (mousedown)="onmousedown($event)"
    (document:mousemove)="onmousemove($event)"
    (document:mouseup)="onmouseup($event)"
    (document:touchstart)="ontouchstart($event)"
    (document:touchend)="ontouchend($event)"
    (document:touchmove)="ontouchmove($event)"
  ></canvas>

  <div id="intro" class="cover emoji">
    <p></p>
    <button id="intro button" class="actionbutton">➜</button>
  </div>

  <div id="win" class="cover check">
    <p></p>
    <button id="win button" class="actionbutton" *ngIf="state !== 'win'">
      ➜
    </button>
  </div>

  <div id="error" class="cover ics">
    <p></p>
    <button id="error button" class="actionbutton">➜</button>
  </div>
</div>
