@media (max-width:1525) or (max-height:745px) {
    .board-container {
        width: 100%;
        height: 100%;
    }

}

.board-container {
    background: url("../../../assets/images/board-bgd.png");
    height: 745px;
    width: 1525px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
}

.next-btn {
    background-image: url("../../../assets/images/nextimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin-top: 680px;
    margin-left: 1450px;
    height: 40px;
    width: 40px;
    position: absolute;
    border: 2px;
    cursor: pointer;
}

.back-home {
    background-image: url("../../../assets/images/bck-menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    top: 680px;
    left: 40px;
    height: 45px;
    width: 45px;
    position: absolute;
    border: 2px;
    cursor: pointer;
}

.reply-btn{
    background-image: url("../../../assets/images/refreshsound.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    top: 680px;
    left: 120px;
    height: 45px;
    width: 45px;
    position: absolute;
    border: 2px;
    cursor: pointer;
}

.mouse-holder {
    position: relative;
    margin-left: 620px;
    margin-top: 330px;
    width: 300px;
    height: 250px;
    cursor: pointer;
}

.cat-holder {
    margin-left: 60px;
    margin-top: 230px;
    width: 300px;
    height: 350px;
    cursor: pointer;
}

canvas {
    width: 600px;
    display: block;
    margin-top: -500px;
    margin-left: 800px;
    pointer-events: none;
}


.modal {
    width: 300px;
    height: 150px;
    text-align: center;
    background: white;
    margin-top: 480px;
    margin-left: 35px;
    opacity: 0.90;
}

.yes {
    background-image: url("../../../assets/images/correct.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 38px;
    height: 38px;
    border-style: none;
    margin-top: 100px;
 
}

.no {
    background-image: url("../../../assets/images/wrong.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 38px;
    margin-top: 100px;
    height: 38px;
    border-style: none;
    margin-right: 70px;
}