<div class="bg">
  <div id="game" class="game" class="row">
    <!-- <div class="info">{{goal}}</div> -->
    <div class="column">
      <app-category (categoryChange)="onCategoryChange($event)"></app-category>

      <app-image
        [folder]="folder"
        [image]="image"
        (imageChange)="onImageChange($event)"
      ></app-image>

      <app-stats
        *ngIf="over"
        [time]="time"
        [moves]="moves"
        [fails]="fails"
      ></app-stats>
    </div>

    <div class="column">
      <app-board
        *ngIf="folder"
        [folder]="folder"
        [image]="image"
        (statsChange)="onStatsChange($event)"
      ></app-board>
    </div>
  </div>

  <div *ngIf="over" class="info">
    <!-- <span>{{ end }}</span> -->
  </div>

  <img
    src="../../../../assets/images/diploma.png"
    class="diploma"
    *ngIf="over"
  />
  <button (click)="setDisplayer()" class="back-home"></button>
  <dialog [open]="displayer" class="modal"> <img (click)="negateDisplayer()" class="no"> <img (click)="backToMenu()"
      class="yes"></dialog>
  <button (click)="replySound()" *ngIf="buttonReplySoundDisable" class="reply-btn" type="image"></button>
</div>
