.game {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.bg {
  height: 100%;
  background-image: url("../../../../assets/images/background-meal.png");
}

@media screen and (max-width: 500px) {
  .game {
    margin: 0 auto;
  }
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

canvas {
  width: 1300px;
  height: 700px;
  display: block;
  margin-top: -700px;
  margin-left: 180px;
  pointer-events: none;
}
