.game {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

/* app-board {
  max-width: 800px;
  max-height: 800px;
} */

@media screen and (max-width: 500px) {
  .game {
    margin: 0 auto;
  }
}
