@keyframes example {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0px);
  }
}

.game {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.bg {
  height: 100%;
  background-image: url("../../../../assets/images/background-meal.png");
}

@media screen and (max-width: 500px) {
  .game {
    margin: 0 auto;
  }
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

canvas {
  width: 1300px;
  height: 700px;
  display: block;
  margin-top: -700px;
  margin-left: 180px;
  pointer-events: none;
}

.diploma {
  width: 600px;
  height: 400px;
  display: block;
  margin-top: -500px;
  margin-left: 500px;
  animation: example 1s;
  animation-timing-function: ease-in;
  /* pointer-events: none; */
}

.back-to-menu{
  background-image: url("../../../../assets/images/bck-menu.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  position: absolute;
  cursor: pointer;
  top: 680px;
  left: 20px;
}
.reply-btn{
  background-image: url("../../../../assets/images/refreshsound.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  top: 680px;
  left: 120px;
  height: 45px;
  width: 45px;
  position: absolute;
  border: 2px;
  cursor: pointer;
}