<div class="container">
  <span class="grid-placer">
    <span>
      <img class="good-apple-jar" src="../../../assets/images/jar-g-a.png" />
      <img class="bad-apple-jar" src="../../../assets/images/jar-b-a.png" />
    </span>
    <span
      ><img class="good-grape-jar" src="../../../assets/images/jar-g-g.png" />
      <img class="bad-grape-jar" src="../../../assets/images/jar-b-g.png" />
    </span>
    <span
      ><img class="good-pear-jar" src="../../../assets/images/jar-b-p.png" />
      <img class="bad-pear-jar" src="../../../assets/images/jar-g-p.png" />
    </span>
  </span>
</div>
