<div class="container">
    <span class="grid-placer">
        <span>
            <img class="good-apple-jar" src="../../../assets/images/jar-g-a.png">
            <img class="bad-apple-jar" src="../../../assets/images/jar-b-a.png" (click)="playRetrySound()">
        </span>
        <span><img class="good-grape-jar" src="../../../assets/images/jar-g-g.png" (click)="playRetrySound()">
            <img class="bad-grape-jar" src="../../../assets/images/jar-b-g.png">
        </span>
        <span><img class="good-pear-jar" src="../../../assets/images/jar-b-p.png" (click)="playRetrySound()">
            <img class="bad-pear-jar" src="../../../assets/images/jar-g-p.png">
        </span>
        <button class="next-btn" routerLink="/healthy-food-2"></button>
    </span>
</div>