@media (max-width:1525px) and (max-height:745px) {
  .container {
    width: 100%;
    height: 100%;
  }

}
.container {
    background: url("../../../assets/images/meals-bgd.png");
    width: 1525px;
    height: 745px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.reply-btn{
    background-image: url("../../../assets/images/refreshsound.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    top: 680px;
    left: 120px;
    height: 45px;
    width: 45px;
    position: absolute;
    border: 2px;
    cursor: pointer;
}
.good-apple-jar {
    margin-left: 890px;
    margin-right: 100px;
    height: 205px;
    width: 205px;
    margin-top: 25px;
    cursor: pointer;
}

.next-btn{
    margin-left: 60px;
    height: 45px;
    width: 45px;
    background-image: url("../../../assets/images/nextimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    cursor: pointer;
}

.bad-apple-jar {
    height: 205px;
    width: 205px;
    margin-top: 30px;
    cursor: pointer;
}

.good-grape-jar {
    margin-left: 890px;
    margin-right: 100px;
    height: 205px;
    width: 205px;
    margin-top: 30px;
    cursor: pointer;
}

.bad-grape-jar {
    height: 205px;
    width: 205px;
    margin-top: 30px;
    cursor: pointer;
}

.good-pear-jar {
    margin-left: 890px;
    margin-right: 100px;
    height: 205px;
    width: 205px;
    margin-top: 30px;
    cursor: pointer;
}

.bad-pear-jar {
    height: 205px;
    width: 205px;
    margin-top: 30px;
    cursor: pointer;
}

.span{
    margin-left: 400px;
    float: left;
}

.grid-placer {
    display: inline-block;
}

.modal {
    width: 300px;
    height: 150px;
    text-align: center;
    background: white;
    margin-top: -220px;
    margin-left: 35px;
    opacity: 0.90;
}

.yes {
    background-image: url("../../../assets/images/correct.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 38px;
    height: 38px;
    border-style: none;
    margin-top: 100px;
 
}

.no {
    background-image: url("../../../assets/images/wrong.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 38px;
    margin-top: 100px;
    height: 38px;
    border-style: none;
    margin-right: 70px;
}

.back-home {
    background-image: url("../../../assets/images/bck-menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    top: 680px;
    left: 40px;
    height: 45px;
    width: 45px;
    position: absolute;
    border: 2px;
    cursor: pointer
}