.about {
  margin-top: 10px;
  width: 95%;
}

.about ul {
  margin-top: 0;
}

.about li {
  margin-top: 5px;
}

.about span {
  font-weight: bold;
  margin-right: 5px;  
}

@media screen and (max-width: 500px) {
  .github {
    display: block;
    padding-left: 40px;
  }
} 