<div class="about" *ngIf="tech">

  <div>
    <span class="tech">{{tech}}</span>
    <ul>
      <li>
        <a target="_blank" href="https://angular.io/">Angular 9</a>
      </li>
      <li>
        <a target="_blank" href="https://www.typescriptlang.org/">Typescript</a>
      </li>
      <li>
        <a target="_blank" href="https://firebase.google.com/">Firebase</a>
      </li>
      <li>
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage">Local Storage</a>
      </li>
      <li>
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">HTML5</a>
      </li>
      <li>
        <a target="_blank" href="https://www.w3.org/TR/selectors-3/">CSS3</a>
      </li>

    </ul>
  </div>

  <p>
    <span class="source">{{source}}</span>
    <a class="github" target="_blank" href="https://github.com/lojito/puzzle">https://github.com/lojito/puzzle</a>
  </p>
  
  <span class="others">{{others}}</span>
  <ul>
    <li>
      <a target="_blank" href="https://lojito.github.io/tic-tac-toe">Tic-tac-toe (React.js)</a>
    </li>
    <li>
      <a target="_blank" href="https://lojito.github.io/matching-pairs">Matching pairs (Vue.js)</a>
    </li>
      <li>
        <a target="_blank" href="https://github.com/lojito/python-tic-tac-toe">Tic-tac-toe (Python)</a>
      </li>
  </ul>

</div>
