@media (max-width:1530px) and (max-height:750px) {
    .board-container {
        width: 100%;
        height: 100%;
    }

}

.board-container {
    background: url("../../../assets/images/board-bgd.png");
    height: 750px;
    width: 1530px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
}

.next-btn {
    background-image: url("../../../assets/images/left-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 690px;
    margin-left: 1450px;
    height: 40px;
    width: 40px;
    position: absolute;
    border: 2px;
    cursor: pointer;
}

.elephant-holder {
    position: relative;
    margin-left: 530px;
    margin-top: 230px;
    width: 430px;
    height: 280px;
    cursor: pointer;
}

.rhyno-holder {
    margin-left: 20px;
    margin-top: 290px;
    width: 390px;
    height: 280px;
    cursor: pointer;
}

.butterfly-holder{
    margin-right: 40px;
    margin-top: 395px;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

canvas {
    width: 600px;
    display: block;
    margin-top: -500px;
    margin-left: 800px;
    pointer-events: none;
}