<div class="background">
  <div class="imagini-meniu">
    <img
      alt="imagine pentru alegere mancare"
      src="../../../assets/images/cataua.png"
      (click)="goToAnimals()"
    />
    <img
      alt="imagine pentru alegere animale"
      src="../../../assets/images/salata.png"
      (click)="goToFood()"
    />
    <img
      alt="imagine pentru puzzle"
      src="../../../assets/images/menu-puzzle.png"
      (click)="goToPuzzle()"
    />
  </div>
  <img src="../../../assets/images/cufar.png" class="imagine-din-colt" />
</div>
