.container-plc {
    background: url("../../../assets/images/background-meal.png");
    height: 820px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

.next-btn{
    margin-left: 60px;
    height: 50px;
    width: 50px;
    background-image: url("../../../assets/images/nextimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    cursor: pointer;
}

.muppet-holder {
    margin-left: 0px;
    margin-top: 150px;
    width: 520px;
    height: 450px;
    float: left;
}

.meal1{
    margin-left: 350px;
    margin-right: 100px;
    height: 230px;
    width: 270px;
    margin-top: 15px;
    cursor: pointer;
}

.meal2 {
    height: 230px;
    width: 270px;
    margin-top: 15px;
    cursor: pointer;
}

.meal3 {
    margin-left: 310px;
    margin-right: 50px;
    height: 270px;
    width: 350px;
    margin-top: 30px;
    cursor: pointer;
}

.meal4 {
    height: 270px;
    width: 350px;
    margin-top: 30px;
    cursor: pointer;
}

.meal6 {
    margin-left: 350px;
    margin-right: 100px;
    height: 230px;
    width: 300px;
    margin-top: 30px;
    cursor: pointer;
}

.meal5 {
    height: 230px;
    width: 300px;
    margin-top: 30px;
    cursor: pointer;
}

.span{
    float: left;
}

.grid-placer {
    display: inline-block;
}