<div class="container-plc">
  <span class="grid-placer">
    <img class="muppet-holder" src="../../../assets/images/muppet.png" />
    <span>
      <img
        class="meal1"
        src="../../../assets/images/meal-1.png"
        (click)="playbreakfastSound()"
      />
      <img
        class="meal2"
        src="../../../assets/images/meal-2.png"
        (click)="playRetrySound()"
      />
    </span>
    <span
      ><img
        class="meal3"
        src="../../../assets/images/meal-3.png"
        (click)="playRetrySound()"
      />
      <img
        class="meal4"
        src="../../../assets/images/meal-4.png"
        (click)="playlunchSound()"
      />
    </span>
    <span
      ><img
        class="meal6"
        src="../../../assets/images/meal-6.png"
        (click)="playdinnerSound()"
      />
      <img
        class="meal5"
        src="../../../assets/images/meal-5.png"
        (click)="playRetrySound()"
      />
    </span>
    <button *ngIf="buttonDisable" class="next-btn" routerLink=""></button>
    <button (click)="replySound()" *ngIf="buttonReplySoundDisable" class="reply-btn" type="image"></button>
  </span>
  <button (click)="setDisplayer()" class="back-home"></button>
  <dialog [open]="displayer" class="modal"> <img (click)="negateDisplayer()" class="no"> <img (click)="backToMenu()"
      class="yes"></dialog>
</div>
