@media (max-width:1530px) and (max-height:750px) {
    .board-container {
        width: 100%;
        height: 100%;
    }

}

.board-container {
    background: url("../../../assets/images/board-bgd.png");
    height: 750px;
    width: 1530px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
}

.next-btn {
    background-image: url("../../../assets/images/left-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 690px;
    margin-left: 1450px;
    height: 40px;
    width: 40px;
    position: absolute;
    border: 2px;
    cursor: pointer;
}

.dog-holder {
    position: relative;
    margin-left: 500px;
    margin-top: 240px;
    width: 350px;
    height: 250px;
    cursor: pointer;
}

.lion-holder {
    margin-top: 190px;
    width: 370px;
    height: 340px;
    cursor: pointer;
}

.cock-holder {
    margin-left: 30px;
    margin-top: 290px;
    width: 250px;
    height: 200px;
    cursor: pointer;
}

canvas {
    width: 600px;
    display: block;
    margin-top: -500px;
    margin-left: 700px;
    pointer-events: none;
}