@media (max-width:1217px) and (max-height:580px) {
    .board-container {
        width: 100%;
        height: 100%;
    }
    
}

.board-container {
    background: url("../../../assets/images/board-bgd.png");
    height: 580px;
    width: 1216px;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
}

.next-btn {
    background-image: url("../../../assets/images/left-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 520px;
    margin-left: 1130px;
    height: 40px;
    width: 40px;
    position: absolute;
    border: 2px;
    cursor: pointer;
}

.dog-holder {
    position: relative;
    margin-left: 380px;
    margin-top: 220px;
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.lion-holder {
    margin-top: 190px;
    width: 300px;
    height: 270px;
    cursor: pointer;
}

.cock-holder {
    margin-left: 30px;
    margin-top: 270px;
    width: 200px;
    height: 150px;
    cursor: pointer;
}

canvas {
    width: 600px;
    display: block;
    margin-top: -500px;
    margin-left: 630px;
    pointer-events: none;
}