.board-container {
    background: url("../../../assets/images/board-bgd.png");
    height: 820px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
    display: flex;
}

.next-btn {
    background-image: url("../../../assets/images/left-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 750px;
    margin-left: 1600px;
    height: 45px;
    width: 45px;
    position: absolute;
    border: 2px;
    cursor: pointer;
}

.dog-holder {
    position: relative;
    margin-left: 420px;
    margin-top: 300px;
    width: 450px;
    height: 300px;
    cursor: pointer;
}

.lion-holder {
    margin-left: 50px;
    margin-top: 260px;
    width: 450px;
    height: 380px;
    cursor: pointer;
}

.cock-holder {
    margin-left: 50px;
    margin-top: 360px;
    width: 230px;
    height: 200px;
    cursor: pointer;
}